html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.media-block {
  margin: 12px 0;
  padding: 8px;
}

.media-block .round-shape {
  width: 30px !important;
  min-width: 30px !important;
  min-height: 30px !important;
}
